$text-color-primary: #333;
$text-color-secondary: #555;
$text-color-light: #6f6f6f;
$text-color-light2: #767676;
$text-color-lighter: #ddd;

$primary-color: #e67e22;
$primary-color-dark: #cf711f;
$primary-color-light: #fdf2e9;
$primary-color-lighter: #fae5d3;
